%h1 Token debug
%h2 ID token
%pre #{JSON.pretty_generate(@id_token)}
%h2 Auth info
%pre #{JSON.pretty_generate(@omniauth_auth.dig(:info))}
%h2 Raw user info
%pre #{JSON.pretty_generate(@omniauth_auth.dig(:extra, :raw_info))}
%h2 AWS
%h3 Access key
%pre{:class => 'longwrap'} #{@credentials.access_key_id}
%h3 Secret key
%pre{:class => 'longwrap'} #{@credentials.secret_access_key}
%h3 Session token
%pre{:class => 'longwrap'} #{@credentials.session_token}
%h3 Console login
%a{:class => 'longwrap', :href => @signin_url} #{@signin_url}
