%h1 Login credentials
%h2 Access key
%pre{:class => 'longwrap'} #{@credentials.access_key_id}
%h2 Secret key
%pre{:class => 'longwrap'} #{@credentials.secret_access_key}
%h2 Session token
%pre{:class => 'longwrap'} #{@credentials.session_token}
%h2 Shell snippet
%pre{:class => 'longwrap'}
  = "export AWS_ACCESS_KEY_ID=#{@credentials.access_key_id}\nexport AWS_SECRET_ACCESS_KEY=#{@credentials.secret_access_key}\nexport AWS_SESSION_TOKEN=#{@credentials.session_token}"
