- if @error
  .alert.alert-danger{role: "alert"}
    = @error
%h1 Auth
- settings.accounts.each do |account|
  %h2 #{account.fetch(:description)}
  %ul
    - account.fetch(:roles).each do |role|
      %li
        %a{:href => "/auth/#{role.fetch(:provider)}?action=login&account=#{account.fetch(:name)}&role=#{role.fetch(:name)}"} #{role.fetch(:description)}
        (
        %a{:href => "/auth/#{role.fetch(:provider)}?action=show&account=#{account.fetch(:name)}&role=#{role.fetch(:name)}"}> session credentials
        )
        - if settings.environment == :development
          (
          %a{:href => "/auth/#{role.fetch(:provider)}?action=debug&account=#{account.fetch(:name)}&role=#{role.fetch(:name)}"}> debug
          )
