!!!
%html
  %head
    %title AWS authentication
    %link(rel="stylesheet" href="/bootstrap.min.css")
    %link(rel="stylesheet" href="/styles.css")
  %body
    %nav.navbar.navbar-dark.bg-dark
      .container-fluid
        %a.navbar-brand{ href: "/" }
          AWS auth
    %main.container
      = yield
